.part-main {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.part-main[ishauto="1"] {
  position: relative;
  height: auto;
}
.part-mainbox {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.part-main[ishauto="1"] .part-mainbox {
  height: auto;
}
.part-sel {
  border: 2px dashed #f00 !important;
  box-sizing: border-box !important;
}
.part-line div[pbt="line"] {
  border: 1px dashed #09f;
  box-sizing: border-box;
}
.part-main[useredit="1"].part-line div[pbt="line"] {
  padding: 5px;
}
.part-wrap {
  width: 100%;
  height: 400px;
  clear: both;
  overflow: hidden;
  position: relative;
}
.part-main[useredit="1"] .part-wrap {
  margin-top: 5px;
}
.part-transverse-split-div {
  float: left;
  height: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.part-vertical-split-div {
  width: 99.9%;
  margin: 0 auto;
  position: relative;
}
.part-config {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99;
  border: 1px solid #ececec;
  box-sizing: border-box;
  display: none;
  background-color: white;
}
.part-config-item {
  width: 180px;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
}
.part-config-item label {
  font-size: 16px;
  width: 90px;
  display: inline-block;
}
.part-config-item input[type="text"] {
  border: 0;
  border-bottom: 1px solid #000;
  width: 80px;
}
.part-item-content {
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 9px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  box-sizing: border-box;
}
.part-line .part-item-content {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 9px 0 rgba(0, 0, 0, 0.2);
}
.prat-item-content-box {
  width: 100%;
  height: 100%;
}
.prat-item-content-box-white {
  background-color: white;
  border: 1px solid #09f;
  box-sizing: border-box;
}
.prat-item-content-move {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  cursor: move;
}
.prat-item-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prat-item-del {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  cursor: pointer;
}
.prat-item-dragleft {
  width: 5px;
  z-index: 100;
  cursor: e-resize;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-size: 30px 4px;
}
.part-item-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 9px 0 rgba(0, 0, 0, 0.2);
}
.part-item-movebgcolor {
  background: #d3e7ff;
  z-index: 999;
}
